@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
    max-width: 800px;
    margin: 0 auto;
    font-family: Roboto, sans-serif;
}

.list {
    list-style: none;
    padding: 10px 0 0 0;
    margin: 0 0 0 0;
    background-color: #f6f6ef;
    position: relative;
}

.listItem {
    display: flex;
    padding: 5px 0;
}

.index {
    width: 30px;
    text-align: right;
    margin-right: 10px;
    color: #828282;
    font-size: 1.0rem;
}

.repoContent {
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px);
    /* Adjusting the width to keep the alignment consistent */
}

.repoLink {
    text-decoration: none;
    color: #000;
}

.repoLink:hover {
    text-decoration: underline;
}

.stars {
    font-size: 0.7rem;
    color: #828282;
    margin-left: 6px;
}

.description {
    font-size: 0.8rem;
    color: #828282;
    margin: 0;
}

.repoTitle {
    font-size: 1.0rem;
    margin-bottom: 3px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff3d00;
    padding: 1rem;
}

.title {
    font-size: 1.3rem;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
}

.title:hover {
    text-decoration: underline;
}

.hoverLink:hover {
    text-decoration: underline;
}

.filterLinks {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.filterButton {
    font-size: 1rem;
    color: #ffffff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
    font-weight: 700;
}

.filterButton:hover {
    text-decoration: underline;
}

.filterButton:focus {
    outline: none;
}

.selectedFilter {
    text-decoration: underline;
}

.separator {
    color: #ffffff;
    margin: 0 1rem 0 1rem;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    border-top: 2px solid #ff3d00;
}

.footerLink {
    font-size: 0.9rem;
    text-decoration: none;
    color: #555;
}

.footerLink:hover {
    text-decoration: underline;
}

.lastUpdated {
    font-size: 0.8rem;
    color: #828282;
    margin: 0;
    text-align: "right";
}
